---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
---

<Layout title="About" description="Learn more about Regina Castro.">
  <Container>
    <aside data-pagefind-ignore>
      <section class="animate space-y-4">
        <div class="disc-bg">
          <div class="disc">
            <h1 class="text-5xl font-medium text-black dark:text-neutral-50" style="font-family: var(--font-mono);">
               ABOUT
            </h1>
          </div>
        </div>
        <p>
          Welcome to my about page. I am Regina Castro, a design engineer focused
          on thoughtful, human-centered digital experiences.
        </p>
      </section>
    </aside>
  </Container>
</Layout>
