---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
---

<Layout title="About" description="Learn more about Regina Castro.">
  <Container>
    <aside data-pagefind-ignore>
      <section class="animate space-y-4">
        <div class="disc-bg">
          <div class="disc">
            <h1  class="text-5xl font-medium text-black dark:text-neutral-50">ABOUT</h1>
          </div>
        </div>
        <p>
         Hi! I'm Regina, a Design Engineer/UX Developer living in Germany.
          I have more than 6 years of experience building digital experiences, either as a designer, web developer or mix of both.
          </p>
          <img
              src="src/assets/real-me.jpg"
              alt="Profile picture of Regina Castro"
              class="rounded-16"
            />
          <h2 class="mt-8">Background</h2>
          <p>Early in my career as a UX Designer, I saw a
          two recurring frictions: the gap between design intent and technical reality, and the distance between designer assumptions and actual user needs. 
          This drove me to master HTML/CSS, understand the fundamentals of web development, and pursue an M.Sc. in Human-Computer Interaction at the <a href="https://hci-siegen.de/" target="_blank" rel="noopener noreferrer">University of Siegen</a>.
          <br>I now feel comfortable working through the whole design process, from gathering requirements based on user research, designing using Figma/Penpot, and building components using HTML/CSS and JS with a sharp focus on performance, accessibility, scalability & modular design.
           </p>
          </p>
          <p>
          My recent experience focuses on human-AI interaction,
          accessibility & developer tools. I feel comfortable working through the whole design process,
          from gathering requirements based on user research, designing using Figma/Penpot, and building components using HTML/CSS and JS with a sharp
          focus on performance, accessibility, scalability & modular design.
          </p>
          <p>For my Master’s thesis, I am currently developing an AI-assisted, open-source web extension specifically for
          blind and low-vision (BLV) developers. This project allowed me to
          combine my passion for open-source software and developer tools with a deep technical
          challenges: building usable, context-based LLM interfaces that are fully accessible for screen reader users.
          </p>
          <h2>My skills</h2>
          <div class="skills-cards flex flex-col gap-6">
            <div class="flex gap-3 not-prose group block overflow-hidden rounded-xl border border-black/15 bg-white p-3 transition-all duration-300 ease-in-out hover:-translate-y-0.5 hover:border-black/30 hover:shadow-sm focus-visible:-translate-y-0.5 focus-visible:border-black/30 focus-visible:shadow-sm dark:border-white/20 dark:bg-neutral-900 dark:hover:border-white/40 dark:focus-visible:border-white/40">
              <div><h3 class="text-xl font-semibold mb-4">Engineering</h3>
              <ul class="space-y-2">
                <li>Clean HTML/CSS implementation</li>
                <li>Accessibility compliance and inclusive design, with a focus on screen reader users</li>
                <li>Responsiveness, performance and Core Web Vitals</li>
              </ul>
              </div>
            </div>
            <div class="flex gap-3 not-prose group block overflow-hidden rounded-xl border border-black/15 bg-white p-3 transition-all duration-300 ease-in-out hover:-translate-y-0.5 hover:border-black/30 hover:shadow-sm focus-visible:-translate-y-0.5 focus-visible:border-black/30 focus-visible:shadow-sm dark:border-white/20 dark:bg-neutral-900 dark:hover:border-white/40 dark:focus-visible:border-white/40">
              <div><h3 class="text-xl font-semibold mb-4">Design</h3>
              <ul class="space-y-2">
                <li>Systematic thinking</li>
                <li>Careful attention to detail and visual polish as well as solving business and user problems</li>
              </ul>
              </div>
            </div>
            <div class="flex gap-3 not-prose group block overflow-hidden rounded-xl border border-black/15 bg-white p-3 transition-all duration-300 ease-in-out hover:-translate-y-0.5 hover:border-black/30 hover:shadow-sm focus-visible:-translate-y-0.5 focus-visible:border-black/30 focus-visible:shadow-sm dark:border-white/20 dark:bg-neutral-900 dark:hover:border-white/40 dark:focus-visible:border-white/40">
              <div><h3 class="text-xl font-semibold mb-4">Research</h3>
              <ul class="space-y-2">
                <li>Replacing assumptions with evidence-based findings from user feedback</li>
                <li>Usability testing and user/stakeholder interviews</li>
              </ul>
              </div>
            </div>
          </div>
          <h2 class="mt-8">Values and principles</h2>
          <p>I am at my best in collaborative environments that value detail-oriented design and evidence-based decision-making. My work is guided by the following principles:</p>
            <ul>
              <li class="list-disc py-1 ml-4 text-lg">"Ship to Learn" mindset: I prioritize building interactive prototypes over static mockups to uncover technical constraints and user insights early in the lifecycle.</li>
              <li class="list-disc py-1 ml-4 text-lg">Accessibility as a foundation: I advocate for WCAG compliance to ensure products are inclusive by design.</li>
              <li class="list-disc py-1 ml-4 text-lg">Design engineering: I look to collaborate with engineers with "the front of the front-end", to design with technical constraints in mind and translate them into code solutions.</li>
              <li class="list-disc py-1 ml-4 text-lg">AI-Augmented workflows: I embrace using AI-assisted development to quickly validate ideas. This allows me to spend more time refining the details and the "human" side of the interface</li>
            </ul>
      </section>
    </aside>
  </Container>
</Layout>
