---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { PROJECTS } from "@consts";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <h1 class="font-semibold text-3xl" style="color: var(--primary-color);">Selected Projects</h1>
        <ul class="animate not-prose flex flex-col gap-6">
          {
            projects.map((project) => (
              <li>
                <ProjectCard project={project} />
              </li>
            ))
          }
        </ul>
        <p>More projects coming soon!</p>
      </div>
    </aside>
  </Container>
</Layout>
